<%- include("../partials/header") -%>
<div class="container">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2">
      <H1><a href="posts/<%=title%>"><%=title%></a></H1>
      <p class="lead"><%= body%></p>
      <img src="https://www.imdb.com/name/nm1569276/mediaviewer/rm3575590656/?ref_=nm_ov_ph" alt="black Panther">
      
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") -%>
