<%- include("../partials/header") -%>

<div class="container-fluid">
  <div id="content-wrap">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2">
      <H1>Home</H1>
      <p class="item"><%- startingContent%></p>
      
      <!-- Generate the posts from array passed in. -->
      
      <% articles.forEach(function(article){%>
        <% var title= article.title%>; //.trim().split(/s+\).join("-")
        <% var link = '/posts/' + title %>;
        <% var link2 = '/edit/' + title %>
        <% var link3 = '/delete/' + title %>
      
        <div class=>
        <H2><a href="<%=link.toLowerCase()%>"><%= title %></a></H2>
        <p class="item"><%- article.content.substring(0,200) + ' ...'%><a href="<%=link.toLowerCase()%>">Read more</a></p>
        <p><a href="<%=link2.toLowerCase()%>">Edit</a></p>
        <p class="link2"><a href="<%=link3.toLowerCase()%>">Delete</p>
      </div>
      
      <hr />
      <%})%>
      
    </div>
  </div>
</div>
</div>
<%- include("../partials/footer.ejs") -%>
